<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Cpp Rule Set" Description="Based on Microsoft Native Recommended Rules and CPP core guideline rules." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26105" Action="Error" />
    <Rule Id="C26415" Action="Error" />
    <Rule Id="C26477" Action="Error" />
    <Rule Id="C26483" Action="Error" />
    <Rule Id="C26494" Action="Error" />
    <Rule Id="C26800" Action="Error" />
  </Rules>
</RuleSet>